/**********DOCUMENT***************/

html {
	background: url('../assets/grocery2.jpg') no-repeat;
	background-position: cover;
	height: 600px;
	width:1200px;
}

#container1 {
	float:left;
	width: 800px;
	height: 450px;
	border: 1px solid #000;
	margin: 50px 20px;
	background: url(../assets/notepad1.jpg) no-repeat;
	font-family: 'Waiting for the Sunrise', cursive;
	box-shadow: 10px 5px 5px 10px hsla(0,0%,0%,.25);
}

#container2 {
	width: 300px;
	height: 350px;
	border: 1px solid #000;
	margin: 95px 20px;
	background: #fff;
	opacity:.8;
	float:left;
	font-family: 'Waiting for the Sunrise', cursive;
	box-shadow: 10px 5px 5px 10px hsla(0,0%,0%,.25);
}

/************HEADER**************/

header {
	margin: 50px auto 0 auto;
	text-align: center;
}

#title {
	text-decoration: underline;
	font-family: 'Permanent Marker', cursive;
	margin-bottom: 0;
	font-size: 3em;
}

.input {
	font-size: 25px;
	margin-top: -10px;
}

.input input {
	margin-left: 10px;
	margin-top: 10px;
	width:300px;
	height:30px;
	font-family: 'Waiting for the Sunrise', cursive;
	font-size: 17px;
	color: #696969;
}

.button-link {
    padding: 5px 10px;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.button-link:hover, .button-link:focus {
    background: #356094;
    text-decoration: none;
}

.button-link:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
}





/**************LIST***************/

section {
	width:800px;
}
.list {
	margin:45px 0 0 130px;
	font-size: 25px;
	width: 25%;
}

.list.item {
	margin-top: 0;
	margin-right: 0;
	width: 60px;
	height:40px;
	display:block;
}

.list.item img {
	display:inline;
	float:right;
}

.list_link {
	text-decoration: none;
	color: #000;
}

.trash {
	float:right;
	margin-top:5px;
}

/***********DIRECTIONS***********/

#title_dir {
	text-align: center;
	margin-top: 20px;
}

.directions li {
	font-size: 20px;
	margin-top: 5px;
}


















